<div *ngIf="loading" class="mt-2 row alert alert-info">
  Loading Users...
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<div *ngIf="userList.length">
  <table class="table table-striped">
    <thead>
      <th scope="col">
        Username
        <button (click)="toggleSort('username')" class="btn btn-sm">
          <i
            class="fas {{
              sortDirectionUser === 'asc' ? 'fa-arrow-up' : 'fa-arrow-down'
            }}"
          ></i>
          Sort Asc/Desc
        </button>
      </th>
      <th scope="col">
        Firstname
        <button (click)="toggleSort('name')" class="btn btn-sm">
          <i
            class="fas {{
              sortDirectionFname === 'asc' ? 'fa-arrow-up' : 'fa-arrow-down'
            }}"
          ></i>

          Sort Asc/Desc
        </button>
      </th>
      <th scope="col">
        Lastname
        <button (click)="toggleSort('surname')" class="btn btn-sm">
          <i
            class="fas {{
              sortDirectionLastname === 'asc' ? 'fa-arrow-up' : 'fa-arrow-down'
            }}"
          ></i>

          Sort Asc/Desc
        </button>
      </th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>
          {{ user.username }}
        </td>
        <td>
          {{ user.name }}
        </td>
        <td>
          {{ user.surname }}
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>
          {{ user.address.area }} <br />
          {{ user.address.road }}
        </td>
        <td>
          <div *ngFor="let phone of user.phone">
            <strong>{{ phone.type }}</strong>
            <br />
            {{ phone.number }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
