<div class="container mt-4">
  <div class="row">
    <nav
      class="p-2 navbar navbar-expand navbar-light bg-light justify-content-between"
    >
      <span class="navbar-brand">
        <strong
          ><a href="#" routerLink="" class="text-decoration-none text-black">{{
            title
          }}</a></strong
        >
      </span>

      <span *ngIf="!(isLoggedIn$ | async); else fullname"> Coding Factory</span>
      <ng-template #fullname>
        <span>{{ loggedInFullname$ | async }}</span>
        <button class="ms-2 btn btn-danger btn-sm" (click)="logout()">
          Logout
        </button>
      </ng-template>

      <ul *ngIf="isLoggedIn$ | async; else loggedOut" class="navbar-nav">
        <lib-dropdown
          [dropdownLabel]="'Users'"
          [items]="usersMenu"
        ></lib-dropdown>

        <lib-dropdown
          [dropdownLabel]="'Products'"
          [items]="productsMenu"
        ></lib-dropdown>
      </ul>

      <ng-template #loggedOut>
        <a routerLink="/login" class="btn btn-primary btn-sm">Login</a>
      </ng-template>
    </nav>
  </div>
  <div class="row mt-3">
    <lib-alert
      *ngIf="isLoading$ | async"
      [type]="'info'"
      [text]="'Communicating with backend...'"
      [spinner]="true"
    ></lib-alert>

    <lib-alert
      *ngFor="let alert of alerts; index as i"
      [type]="alert.type"
      [heading]="alert.heading"
      [text]="alert.text"
      (dismiss)="onAlertDismiss(i)"
    >
    </lib-alert>

    <router-outlet></router-outlet>
  </div>
</div>
